.recipe-details{
background-color: wheat;
}



.title-description-wrapper{

}

.title-description{


}
.recipe-details-text{
  font-family: 'Lato',sans-serif;
  font-size: 1.7rem;
  font-weight: bolder;
}
