<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-header">
      Pamilya Recipes
    </div>
    <ul class="footer-links-wrapper">
      <li class="footer-links">
        <a href="#" class="footer-link-item">Created by Michael Gamatero</a>
      </li>
      <li class="footer-links">
        <a href="#" class="footer-link-item">Tustin, CA</a>
      </li>
      <li class="footer-links">
        <a href="#" class="footer-link-item">&copy; Copyright 2020 mg</a>
      </li>
    </ul>
  </div>

  <div class="footer-wrapper">
    <div class="footer-header">
      Explore
    </div>
    <ul class="footer-links-wrapper">
      <li class="footer-links">
        <a href="#" class="footer-link-item">Home</a>
      </li>
      <li class="footer-links">
        <a href="#" class="footer-link-item">Recipes</a>
      </li>
      <li class="footer-links">
        <a href="#" class="footer-link-item">About</a>
      </li>
    </ul>
  </div>

  <div class="footer-wrapper">
    <div class="footer-header">
      Contact Us
    </div>
    <ul class="footer-links-wrapper">
      <li class="footer-links">
        <a href="#" class="footer-link-item">714.915.7817</a>
      </li>
      <li class="footer-links">
        <a href="#" class="footer-link-item">mgamatero@gmail.com</a>
      </li>
    </ul>
  </div>

</footer>
