<section class="what">

<div class="container text-center p-3">

  <h1>What is this app?</h1>
  <h3>A collection of my family recipes.  Enjoy them as we have.  Cook, eat, live, laugh, love</h3>
  <div class="row py-2">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../../../assets/icon-enjoy-dishes.png" alt="">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../../../assets/icon-enjoy-dishes.png" alt="">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../../../assets/icon-enjoy-dishes.png" alt="">
    </div>
  </div>
</div>
</section>
