<section class="add-edit-recipes p-4">
  <div class="container">

    <form>
      <div class="form-group">
        <label for="recipeName">Name</label>
        <input type="text" class="form-control" id="recipeName" aria-describedby="recipeName" placeholder="Recipe name">
      </div>
      <div class="form-group">
        <label for="recipeOwner">Recipe Owner</label>
        <input type="text" class="form-control" id="recipeOwner" aria-describedby="recipeOwner" placeholder="Recipe owner">
      </div>
      <div class="form-group">
        <label for="recipeType">Dish Type</label>
        <select class="form-control" id="recipeType">
          <option>Main</option>
          <option>Appetizer</option>
          <option>Dessert</option>
          <option>Beverage</option>
          <option>Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="recipeImage">Image</label>
        <input type="text" class="form-control" id="recipeImage" aria-describedby="recipeImage" placeholder="Recipe image url">
      </div>
      <div class="form-group">
        <label for="recipeIngredients">Ingredients</label>
        <input type="text" class="form-control" id="recipeIngredients" aria-describedby="recipeIngredients" placeholder="Ingredients">
      </div>
      <div class="form-group">
        <label for="recipeInstructions">Instructions</label>
        <input type="text" class="form-control" id="recipeInstructions" aria-describedby="recipeInstructions" placeholder="Instructions">
      </div>
      <div class="form-group">
        <label for="recipeImage">Image</label>
        <input type="text" class="form-control" id="recipeImage" aria-describedby="recipeImage" placeholder="Recipe image url">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>





</section>
