<section class="add-recipes p-4">
  <div class="container">
    <div class="col-6">
      <form [formGroup]="recipeForm">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="recipeName">Recipe Name</label>
              <input type="text" formControlName="name" class="form-control" id="recipeName"
                aria-describedby="recipeName" placeholder="Recipe name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="recipeOwner">Added by:</label>
              <input type="text" formControlName="addedBy" class="form-control" id="recipeOwner"
                aria-describedby="recipeOwner" placeholder="Recipe owner">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="recipeImage">Image</label>
              <input type="text" formControlName="image" class="form-control" id="recipeImage"
                aria-describedby="recipeImage" placeholder="Recipe image url">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="recipeType">Dish Type</label>
              <select class="form-control" id="recipeType" formControlName="type">
                <option>Main dish</option>
                <option>Appetizer</option>
                <option>Dessert</option>
                <option>Other</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group" formArrayName="ingredients">
          <label for="ingredients">Ingredients</label>
          <div *ngFor="let oneIngredient of ingredients.controls;let i=index">
            <input type="text" [formControlName]="i" class="form-control" placeholder='Enter ingredient'>
          </div>
          <div class="btn btn-outline" (click)="addNewIngredient()"><i class="fas fa-plus-circle p-2"></i>Add new
            ingredient</div>
        </div>

        <div class="form-group" formArrayName="instructions">
          <label for="instructions">Instructions</label>
          <div *ngFor="let oneInstruction of instructions.controls;let i=index">
            <input type="text" [formControlName]="i" class="form-control" placeholder='Enter ingredient'>
          </div>
          <div class="btn btn-outline" (click)="addNewInstruction()"><i class="fas fa-plus-circle p-2"></i>Add new
            instruction</div>
        </div>
        <button type="submit" class="btn btn-success m-1" (click)="submitForm()" [disabled]="!recipeForm.valid">Submit</button>
        <button type="submit" class="btn btn-danger m-1" (click)="clearForm()">Clear Form</button>
      </form>
    </div>

    <div class="col-6">
      {{this.recipeForm.value|json}}
    </div>

  </div>





</section>
