.about{
  background-color:rgb(105, 105, 112);
  min-height: 110vh;
  /* position: relative; */
}

.about-wrapper{
  /* position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%); */
}
.about-icon{
  max-width:150px;
}

.about-text{
  font-size: 1.5rem;
  color:wheat;
}

.contact-text{
  font-weight: bolder;
  font-size: 1.3rem;
  color:rgb(231, 173, 13);
}
