<section class="recipes">
  <div class="container py-4">
    <div class="recipes-title text-center p-2">Pamilya Recipes</div>
    <div class="row">
      <!-- cards -->
      <div *ngFor="let oneRecipe$ of allRecipes$" class="col-md-4 p-3">
        <div class="card recipe-card">
          <img class="card-img-top recipe-img" src={{oneRecipe$.image}} alt="Card image cap">
          <div class="card-body recipe-card-body">
            <h5 class="card-title recipe-card-title-text">{{oneRecipe$.name}}</h5>
            <p class="card-text recipe-text"> by {{oneRecipe$.addedBy}}</p>
            <p class="card-text text-light">{{oneRecipe$.type}}</p>
            <div class="btn btn-primary btn-block btn-recipe-details" (click)="recipeDetailsClick(oneRecipe$.id)">
              Details</div>
          </div>
        </div>
      </div>
      <!-- end cards -->
    </div>
  </div>
</section>
