.recipes{
  /* height: 50vh; */
  background: url(../../../assets/recipes-img.jpg) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: none;
  border-radius: 1em;
}

.recipes-title{
  font-family: 'Nunito', sans-serif;
  color: wheat;
  font-weight: bold;
  font-size: 2rem;
  border: solid rgba(31, 29, 29, 0.9) 1px;
  border-radius: .5rem;
  background-color: rgba(31, 29, 29, 0.9);
}

.recipe-card{
  background-color: rgba(53, 67, 71, 0.9);
  border: none;
  border-radius: 1rem;
}

.recipe-card-title-text{
  font-family: 'Lato', sans-serif;
  font-size: 1.8rem;
  color:wheat;
}
.recipe-text{
  color:wheat;
}
