.edit-delete-recipes{
  min-height: 75vh;
  background-color: rgb(242, 243, 166);
}

.text-title-edit-delete{
  font-size: 2rem;
}

.edit-delete-display-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
