<section class="why p-4">
  <div class="container text-center why-section-text">
    <h1>But really .... why build an app for recipes?</h1>
    <div class="row why-row py-3">
      <div class="col-6 why-col p-2">
        <i class="far fa-check-square why-icon"></i>
        <span class="why-text">So we won't forget our recipes. </span>
      </div>
      <div class="col-6 why-col">
        <i class="far fa-check-square why-icon"></i>
        <span class="why-text">So we remember our relatives and the great times </span>
      </div>
    </div>

    <div class="row  why-row py-2">
      <div class="col-12 why-col p-2">
        <i class="far fa-check-square why-icon p-1"></i>
        <span class="why-text">So employers see I can use Angular and Firestore for CRUD. </span>
      </div>
    </div>
  </div>

</section>
