.why{
  background-color:rgb(185, 173, 173);
  min-height: 50vh;
}

.why-col{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.why-icon{
font-size: 3.2rem;
}

.employers{
  animation: employerColorChange 2s infinite;
}

@keyframes employerColorChange {
  0% {color: #0000ff;}
  50% {color: #ff000d;}
  100% {color: #0000ff;}
}


@media (max-width: 600px) {
  .why-text , .why-icon{
    font-size: 1rem;
    }
}
