<section class="why p-4">
  <div class="container text-center why-section-text">
    <h1 class="title-text-nunito">But really .... why build an app for recipes?</h1>
    <div class="row why-row p-3 m-2">
      <div class="col-12 why-col">
        <i class="far fa-check-square why-icon p-2"></i>
        <span class="why-text">So we won't forget the recipes our families love </span>
      </div>
      <div class="col-12 why-col">
        <i class="far fa-check-square why-icon p-2"></i>
        <span class="why-text">So we remember our relatives and the great times </span>
      </div>
      <div class="col-12 why-col">
        <i class="far fa-check-square why-icon p-2"></i>
        <span class="why-text employers">For employers - Angular, Firestore, Bootstrap, CRUD </span>
      </div>
    </div>
  </div>
</section>
