/* <div class="menu">
  <div class="menu-left">
    <img src="../../../assets/icon-enjoy-dishes.png" alt="dishes icon">
  </div>
  <div class="menu-right">
   <ul class="menu-right-links">
     <li class="nav-links">
       Home
     </li>
     <li class="nav-links">
       Recipes
     </li>
     <li class="nav-links">
       Add/Edit
     </li>
     <li class="nav-links">
       About Us
     </li>
     <li class="nav-links">
       Login
     </li>
   </ul>
  </div>
</div> */

.menu-icon{
  width:5rem;
}

.menu{
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.menu-right-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:1rem;
  list-style: none;
  font-weight: bolder;

  }

  .navbar{
    background-color: rgb(151, 170, 189);
  }



